html, body {
	background-color: #f6f9fb;
	width: 100%;
    height: 100%;
}

h1, h2, h3, h4, p, a {
	font-family: "Abril fFtface"
}

#link-page {
	margin-top: 50px;
}

#map {
    position: relative;
}

#data-page {
	display: none;
}

.data-element {
	margin-bottom: 30px;
}